<link rel="stylesheet" href="/css/api.css">
<div class="container">
    <!-- 1 -->
    <div class="row">
        <div class="col-5">
            <h2>1. Create User</h2>
            <p>we need to create post request</p>
            <b>URL to create new User:- <span
                    style="color: green;">http://127.0.0.1:8000/v1/user/create</span></b>
            <center>
                <h4>Filds</h4>
            </center>
            <table border="1" class="table table-striped">
                <thead>
                    <tr>
                        <th>key</th>
                        <th>value</th>
                    </tr>
                </thead>
                <tr>
                    <td>email</td>
                    <td>unique email</td>
                </tr>
                <tr>
                    <td>password</td>
                    <td>*********</td>
                </tr>
                <tr>
                    <td>confromPassword</td>
                    <td>*********</td>
                </tr>
            </table>
        </div>
        <div class="col img-container">
            <img src="/img/api/createUser.png" alt="">
        </div>
    </div>

    <!-- 2 -->
    <div class="row">
        <div class="col-5">
            <h2>2. Login User</h2>
            <p>we need to create post req</p>
            <b>URL to login:- <span
                    style="color: green;">http://127.0.0.1:8000/v1/user/create-session</span></b>
            <center>
                <h4>Filds</h4>
            </center>
            <table border="1" class="table table-striped">
                <thead>
                    <tr>
                        <th>key</th>
                        <th>value</th>
                    </tr>
                </thead>
                <tr>
                    <td>email</td>
                    <td>email</td>
                </tr>
                <tr>
                    <td>password</td>
                    <td>*********</td>
                </tr>
            </table>
        </div>
        <div class="col img-container">
            <img src="/img/api/login.png" alt="">
        </div>
    </div>

    <!-- 3 -->
    <div class="row">
        <div class="col-5">
            <h2>3. Set Token for Authorise request inside header of all requests</h2>
            
            <b>URL to login user:- <span
                    style="color: green;">http://127.0.0.1:8000/v1/user/create-session</span></b>
            <center>
                <h4>Filds</h4>
            </center>
            <table border="1" class="table table-striped">
                <thead>
                    <tr>
                        <th>key</th>
                        <th>value</th>
                    </tr>
                </thead>
                <tr>
                    <td>Authorization</td>
                    <td>Bearer __token paste here__</td>
                </tr>
            </table>
        </div>
        <div class="col img-container">
            <img src="/img/api/login.png" alt="">
        </div>
    </div>

    <!-- 4 -->
    <div class="row">
        <div class="col-5">
            <h2>4. All Task</h2>
            <p>we need to create get request</p>
            <p>we need to set token inside header</p>
            <b>URL to see all task of user:- <span
                    style="color: green;">http://127.0.0.1:8000/v1/task/all</span></b>
            <center>
                <h4>Header Fild</h4>
            </center>
            <table border="1" class="table table-striped">
                <thead>
                    <tr>
                        <th>key</th>
                        <th>value</th>
                    </tr>
                </thead>
                <tr>
                    <td>Authorization</td>
                    <td>Bearer __token paste here__</td>
                </tr>
            </table>
            <p>Bearer is a keyword then space then paste token</p>
            <!-- <table  border="1" class="table table-striped">
               <thead>
                    <tr>
                        <th>key</th>
                        <th>value</th>
                    </tr>
                </thead>
                <tr>
                    <td>name</td>
                    <td>enter name of patient</td>
                </tr>
                <tr>
                    <td>phone</td>
                    <td>enter phone no</td>
                </tr>
            </table> -->
        </div>
        <div class="col img-container">
            <img src="/img/api/allTask.png" alt="">
        </div>
    </div>
    
    <!-- 5 -->
    <div class="row">
        <div class="col-5">
            <h2>5. Create new task</h2>
            <p>we need to create post request</p>
            <p>we need to set token inside header for authentication</p>
            <b>URL to create task:- 
                <span
                    style="color: green;">http://127.0.0.1:8000/v1/task/create
                </span>
            </b>
            <center>
                <h4>Fild</h4>
            </center>
            <table  border="1" class="table table-striped">
                <thead>
                    <tr>
                        <th>key</th>
                        <th>value</th>
                    </tr>
                </thead>
                <tr>
                    <td>task</td>
                    <td>name of task</td>
                </tr>
                <tr>
                    <td>dueDate</td>
                    <td>2023/04/14</td>
                </tr>
                <tr>
                    <td>category</td>
                    <td>work</td>
                </tr>
                
            </table>
        </div>
        <div class="col img-container">
            <img src="/img/api/newTask.png" alt="">
        </div>
    </div>

    <!-- 6 -->
    <div class="row">
        <div class="col-5">
            <h2>6. Update task</h2>
            <p>we need to create post request</p>
            <p>we need to set token inside header for authentication </p>
            <b>Update task:- 
                <span
                    style="color: green;">http://127.0.0.1:8000/v1/task/update/<span style="color:red;">TaskId</span>
                </span>
            </b><br>
            <p>like:- 
                <span
                    style="color: green;">http://127.0.0.1:8000/v1/task/update/<span style="color:red;">6426ec500b850429636db0b8 </span>
                </span>
            </p>
        </div>
        <div class="col img-container">
            <img src="/img/api/updatetask.png" alt="">
        </div>
    </div>

    <!-- 7 -->
    <div class="row">
        <div class="col-5">
            <h2>7. delete task</h2>
            <p>we need to create delete request</p>
            <p>we need to set token inside header for authentication </p>
            <<b>Update task:- 
                <span
                    style="color: green;">http://127.0.0.1:8000/v1/task/delete/<span style="color:red;">TaskId</span>
                </span>
            </b><br>
            <p>like:- 
                <span
                    style="color: green;"> http://127.0.0.1:8000/v1/task/delete/<span style="color:red;">6426ec500b850429636db0b8 </span>
                </span>
            </p>
           
        </div>
        <div class="col img-container">
            <img src="/img/api/deleteTask.png" alt="">
        </div>
    </div>
</div>